.campus-section {
    padding: 60px 30px;
    // background-color: $white;
    text-align: center;

    h2 {
        font-size: 32px;
        color: #1d3e70;
        margin-bottom: 20px;
    }

    .campus-map-container {
        position: relative;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;

        iframe {
            width: 100%;
            height: 450px;
            border: none;
            border-radius: 8px;
        }

        .campus-info-box {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 300px;
            background-color:$white;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            padding: 20px;
            border-radius: 6px;
            text-align: left;
            font-size: 14px;

            h4 {
                font-size: 16px;
                color: #1d3e70;
                margin-bottom: 5px;
            }

            p {
                margin: 5px 0;
                color: #333;
            }

            hr {
                margin: 15px 0;
                border: none;
                border-top: 1px solid #ccc;
            }
        }
    }
}