.categories {
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        gap: 1.5rem;

        .box {
            @extend %box-style;
            padding: 3rem 2rem;
            outline-offset: -1rem;

            &:hover {
                outline: $outline-hover;
                outline-offset: 0;
            }

            img {
                margin: 1rem 0;
                height: 15rem;
            }

            h3 {
                font-size: 2rem;
                color: $black;
                line-height: 1.8;
            }

            p {
                font-size: 1.7rem;
                color: $light-color;
                line-height: 1.8;
                padding: 1rem 0;
            }
        }
    }

}
