.review {
    .review-slider {
        padding: 1rem;

        .box {
            @extend %box-style;

            &hover {
                outline: $outline-hover;
                outline-offset: 0;
            }

            img {
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
            }

            p {
                padding: 1rem 0;
                line-height: 1.8;
                color: $light-color;
                font-size: 1.5rem;
            }

            h3 {
                padding-bottom: .5rem;
                color: $black;
                font-size: 2.2rem;
            }
            .stars {
                i {
                    color: $orange;
                    font-size: 1.7rem;
                }
            }

        }
    }
}


