$orange:#ff7800;
$black:#130f40;
$light-color:#666;
$white:#fff;
$light-white:#eee;
$box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
$border:.2rem solid rgba(0, 0, 0, .1);
$outline:.1rem solid rgba(0, 0, 0, .1);
$outline-hover:.2rem solid $black;